/* DataTable */
th { font-size: 13px; }
td { font-size: 12px; }
.dataTables_filter {
   width: 50%;
   float: right;
   text-align: right;
}

/* bootstrap overridding */
.form-group {
	margin-bottom: 4px;
}